<div class="box">
  <div class="posts">
    <br>
    <div class="cen">

      <h1>Editing event</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @event %> |
      <%= link_to 'Back', events_path %>
      <br>
      <br>
    </div>
  </div>
