<% provide(:title, "Events") %>
<%= render 'layouts/sidebar' %>
    <div class="wrapper">
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
<div class="box">
  <div class="cen">
    <br>
    <h1>New Event</h1>

    <%= render 'form' %>

    <%= link_to 'Back', events_path %>
    <br>
    <br>
  </div>
</div>
