<div class="box">
    <div class="cen">
    <br>
<h1>Editing resume for <%= @resume.p7 %></h1>

<%= render 'form' %>

<%= link_to 'Show', @resume , class: "btn btn-default"%> |
<%= link_to 'Back', resumes_path , class: "btn btn-default"%>
<br>
<br>
    </div>
</div>

