<div class="box">
  <div class="cen">
    <br>
    <h1>Make New Resume</h1>
    <%= render 'form' %>
    <p><%= link_to 'Cancel', resumes_path , class: "btn btn-default"%></p>
    <br>
    <br>
    </div>
</div>
