<footer class="footer-demo section-nude">
        <div class="container">
            <nav class="pull-left">
                <ul>

                    <li>
                        <%= link_to "About", about_path %>
                    </li>
                    <li>
                        <%= link_to "Contact", contact_path %>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; Copyright © 2015 Group10
            </div>
        </div>
    </footer>
