 <div id= "rocketbg" class="sidebar", data-color="grey", data-image="#">
        <div class="sidebar-wrapper">
          <div class="posts">
            <br>
            <%= link_to gravatar_for(current_user, size: 90), current_user %>
            <br>
            <br>
          </div>
        <div class="disname">
          <p>  <%= current_user.firstName %> </p>
          <p>  <%= current_user.lastName %> </p>
        </div>

              <ul class="nav">
                  <li class="active">

                    <a href="../users/<%=current_user.id%>">
                          <i class="pe-7s-portfolio"></i>
                          <p>Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="../links">
                          <i class="pe-7s-chat"></i>
                          <p>Forum</p>
                      </a>
                  </li>
                  <li>
                      <a href="../calendar">
                          <i class="pe-7s-date"></i>
                          <p>Calendar</p>
                      </a>
                  </li>

                   <li>
                      <a href="../resumes">
                          <i class="pe-7s-news-paper"></i>
                          <p>My Resumes</p>
                      </a>
                  </li>

                  <li>
                     <a href="../chatroom">
                         <i class="pe-7s-comment"></i>
                         <p>Public Chatroom</p>
                     </a>
                 </li>

                  <!--<li>
                      <a href="notifications.html">
                          <i class="pe-7s-bell"></i>
                          <p>Notifications</p>
                      </a>
                  </li>-->
              </ul>
        </div>
      </div>
