<% content_for :title, 'About' %>
<body style="padding-top: 60px;">
<%= render 'layouts/header' %>
<div class="center jumbotron">
  <h1>About Us</h1>
  <h3>G-rocket</h3>
  <p>This heroku app is created by Group 10.</p>
  <p>At G-Rocket, we strive to build a social networking platform that combines the functionality and services of Canvas with the networking and social integration of facebook.

Coupled together with our beautiful and stunning UI, G-Rocket stands out as a centralized networking hub for students to engage with their peers and even potential employers.

Our product is aimed to connect student connections both online and offline; allowing students to set up study sessions, groups and connect with other like-minded students.</p>
</div>
</body>