<style>
body {
    background-image: image-url("rocket-2-01.png");
    background-repeat: repeat-xy;
}
</style>
<div class="center jumbotron">
  <h1>Welcome to StudySfu</h1>
  <%= link_to "Sign up", '../users/new', class: "btn btn-lg btn-primary" %>
</div>
