<div class="box">
<h1>Editing Resume Database</h1>

<%= render 'form' %>

<!--< %= link_to 'Show', @resumelist %> |-->
<%= link_to 'Show', /resumelists %> |
<%= link_to 'Back', resumelists_path %>
</div>