<div class="box">
  <div class="cen">
    <br>
    <h1>Submit New point to database</h1>
    <%= render 'form' %>
    <p><%= link_to 'Cancel', resumelists_path %></p>
    <br>
    <br>
    </div>
</div>
